.container {
    min-height: 100%;
    /* position: relative; */

    /* for visual purposes */
    border: 2px solid black;
}

header {
    margin-bottom: 200px;
}

.footer {
    display: inline-block;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;

     /* visual */
     border: 2px solid orange;
}

.logo {
    display: block;
    margin: auto;
    width: 100%;
    clear: both;

    /* for visual purposes */
    border: 1px solid blue;
}

.logo img {
    display: block;
    margin: auto;
    height: 92px;
    width: 272px;

    /* for visual purposes */
    border: 1px solid red;
}

.searchbox input{
    display: block;
    margin: auto;
}

.buttons{
    text-align: center;
}

button {
    display: inline-block;
}

.nav-left, .nav-right {
    /* display: inline-block; */
    padding: 20px;
}

.nav-left {
    float: left;
    box-sizing: border-box;
}

.nav-left li, .nav-right li {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px;
}

.nav-right {
    float: right;
    box-sizing: border-box;
}

.spacer {
    display: block;
    height:400px;
}