html, .body {
    margin:0;
    padding:0;
}

.container {
    position: relative;
}

/* Header and Footer */

header {
    vertical-align: top;
    padding-bottom: 200px;
    position: relative;
    top: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
}

/* Image, Searchbar, Buttons, and Spacer */

.logo {
    display: block;
    margin: auto;
    width: 100%;
    clear: both;
}

.logo img {
    display: block;
    margin: auto;
    height: 92px;
    width: 272px;
}

.searchbox input{
    display: block;
    margin: auto;
}

.buttons{
    text-align: center;
}

button {
    display: inline-block;
}

.spacer {
    display: block;
    height:400px;
}

.body {
    padding-bottom: 400px;
}

/* Navigation Bars */

.nav-right {
    float: right;
}

.nav-left {
    float: left;
}

.nav-left, .nav-right {
    padding: 20px;
}

.nav-left a, .nav-right a {
    padding: 5px 10px;
    position: relative;
    bottom: 31px;
}